:root {
    --text-color: rgba(225, 255, 255, 0.87);
    --highlight-color: #FFAD33;
    --bg-color: #1B1C21;
    --dark-bg-color: #0F0F10
}

@font-face {
    font-family: "Ginto Nord";
    src: url('../fonts/GintoNord-Black.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Ginto Nord";
    src: url('../fonts/GintoNord-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Whitney;
    src: url('../fonts/Whitney-Semibold-Bas.otf');
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    overflow-x: hidden;
    background: var(--bg-color);
}

a {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-family: "Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5, h6 {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

.text-color {
    color: var(--text-color);
}

.dark-bg {
    background: var(--dark-bg-color);
}

.page-content {
    min-height: calc(100vh - 150px);
}

nav {
    z-index: 1;
    height: 75px;
}

nav .navbar-brand {
    font-family: "Ginto Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

nav .nav-item a {
    font-size: 1.2rem;
}

nav .nav-item a:hover,
nav .nav-item a:active,
nav .navbar-brand:hover,
nav .navbar-brand:active {
    color: var(--text-color);
}

nav .nav-item a:focus {
    outline: 0;
}

nav .dropdown-menu a {
    color: var(--text-color);
}

nav .dropdown-menu .logout,
nav .dropdown-menu .logout:hover,
nav .dropdown-menu .logout:active {
    color: #F04647;
}

nav .nav-btn {
    padding: 0 15px;
    margin-left: 20px;
    background: var(--highlight-color);
    border-radius: 10px;
}

nav .nav-btn a {
    width: 100%;
    height: 100%;
    color: var(--dark-bg-color);
}

nav img {
    margin-right: 5px;
}

nav .dropdown-menu li a:hover {
    background-image: none;
    color: var(--dark-bg-color);
}

nav .nav-btn:hover {
    background: none;
    outline: 1px solid white;
    color: var(--text-color);
}

#hero {
    height: calc(100vh - 75px);
    display: flex;
        align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-img {
    width: 60%;
}

.hero-img img {
    width: 100%;
}

.hero-btns a {
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background: var(--highlight-color);
    color: var(--bg-color);
    font-weight: bold;
}

#vote {
    padding: 40px 0;
}

#vote h3 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

#vote a {
    margin: 0 15px;
    padding: 7px 15px;
    font-size: 1rem;
    background: var(--highlight-color);
    color: var(--bg-color);
    font-weight: bold;
}

#features {
    max-width: 1200px;
}

#features .feature-row {
    margin: 75px 0;
    max-height: 400px;
}

#features .feature-row:nth-child(odd) {
    margin-right: auto;
    flex-direction: row;
}

#features .feature-row:nth-child(even) {
    margin-left: auto;
    flex-direction: row-reverse;
}

#features .feature-img img {
    height: 400px;
    width: auto;
}

#features .feature-text {
    max-width: 40%;
}

#features .feature-text h3 {
    font-size: 1.8rem;
}

#page-title {
    padding-top: 50px;
    padding-bottom: 30px;
}

#page-title p {
    font-size: 1.2rem;
    max-width: 600px;
}

#faq .faq-item {
    padding: 20px 25px 10px 25px;
    background: var(--dark-bg-color);
    border-radius: 10px;
    margin: 20px 0;
}

#faq .opened {
    border: 2px solid var(--highlight-color);
}

#faq .opened h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
}

#faq .opened p {
    padding-top: 10px;
}

#commands .command-item {
    padding: 20px 25px 10px 25px;
    background: var(--dark-bg-color);
    border-radius: 10px;
    margin: 20px 0;
}

#commands .opened {
    border: 2px solid var(--highlight-color);
}

#commands .opened .command-description {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
}

#categories .category-select {
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    outline: 2px solid var(--text-color);
    color: var(--text-color);
}

#categories .category-select[status="selected"] {
    outline: none;
    background: var(--highlight-color);
    color: var(--bg-color);
}

@media screen and (max-width: 1200px) {
    #hero .hero-btns a {
        font-size: 1rem;
    }

    #features .feature-img img {
        width: calc(50vw);
        height: 100%;
    }
}

@media screen and (max-width: 992px) {
    #hero {
        display: block;
    }

    #hero .hero-content {
        padding-top: calc((100vh - 500px) / 2);
    }

    #hero .hero-text h2 {
        font-size: 1.8rem;
    }

    #hero .hero-btns a {
        font-size: 1rem;
        margin: 5px 0;
    }
}

@media screen and (max-width: 768px) {
    #hero .hero-content {
        flex-direction: column;
    }

    #hero .hero-content {
        padding-top: calc((100vh - 300px) / 2);
        text-align: center;
    }

    #hero .hero-content .hero-text {
        width: 100%;
    }

    #hero .hero-img {
        width: 0%;
        display: none;
    }

    #features .feature-row {
        max-height: none;
    }

    #features .feature-row:nth-child(odd) {
        flex-direction: column;
    }

    #features .feature-row:nth-child(even) {
        flex-direction: column;
    }

    #features .feature-row .feature-img {
        margin: 0 auto 20px auto;
    }

    #features .feature-row img {
        max-height: 400px;
        width: 100%;
    }

    #features .feature-row .feature-text {
        max-width: 100%;
    }

    #features .feature-row .feature-text h3,
    #features .feature-row .feature-text p {
        text-align: center;
    }
}