<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
        <title>Coinz - {{ title }}</title>
    {% else %}
        <title>Coinz</title>
    {% endif %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="gradient-bg">
    <div class="container-lg">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Coinz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
{#                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('main.commands') }}">Commands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('main.donate') }}">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('main.discord') }}">Support Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ url_for('main.invite', guild_id=None) }}">Invite</a>
                        </li>
                    </ul>
{#                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">#}
{#                        {% if logged_in and user %}#}
{#                            <li class="nav-item dropdown">#}
{#                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                    {% if user.avatar %}#}
{#                                        <img src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.webp?size=32" class="rounded-circle" height="32" alt="Black and White Portrait of a Man" loading="lazy"/>#}
{#                                    {% else %}#}
{#                                        <img src="https://cdn.discordapp.com/embed/avatars/3.png" class="rounded-circle" height="32" alt="Black and White Portrait of a Man" loading="lazy"/>#}
{#                                    {% endif %}#}
{#                                    {{ user.username }}{{ user.discriminator }}#}
{#                                </a>#}
{#                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                                    <li><a class="dropdown-item" href="{{ url_for('dashboard.dash') }}">My Servers</a></li>#}
{#                                    <li>#}
{#                                        <hr class="dropdown-divider">#}
{#                                    </li>#}
{#                                    <li><a class="dropdown-item logout" href="{{ url_for('login.logout') }}">Logout</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        {% else %}#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link text-white" href="{{ url_for('login.login_page') }}">Login via Discord</a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    </ul>#}
                </div>
            </div>
        </nav>
    </div>
</div>

{% block content %}
{% endblock %}

<div class="gradient-bg">
    <div class="container-lg">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-inner" href="{{ url_for('main.index') }}">Coinz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-inner" href="{{ url_for('main.commands') }}">Commands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-inner" href="{{ url_for('main.donate') }}">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-inner" href="{{ url_for('main.discord') }}">Support Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-inner" href="{{ url_for('main.invite', guild_id=None) }}">Invite</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-inner" href="{{ url_for('main.terms_of_service') }}">Terms Of Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-inner" href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>