{% extends "base.html" %}

{% block content %}
    <div id="page-title" class="container">
        <h2>List of all Commands</h2>
        <p>You can find a list of all commands that are in Coinz. Click on any command to get more information.</p>
    </div>

    <div id="categories" class="container d-flex flex-row flex-wrap">
        <p category="misc" status="selected" class="category-select">Miscellaneous</p>
        <p category="economy" status="none" class="category-select">Economy</p>
        <p category="games" status="none" class="category-select">Games</p>
        <p category="business" status="none" class="category-select">Business</p>
        <p category="farming" status="none" class="category-select">Farming</p>
        <p category="investing" status="none" class="category-select">Investing</p>
    </div>

    <div id="commands" class="container">
    </div>

    <script type="module" src="{{ url_for('static', filename='js/commands.js') }}"></script>
{% endblock %}