{% extends "base.html" %}

{% block content %}
    <div id="dashboard" class="container text-center mx-auto page-hero">
        <h2>Select A Server</h2>
        <h5>To add your server here, please <a href="{{ url_for('main.invite') }}">invite</a> the bot first.</h5>
        <h5>If you still don't see your server here, please try to logout and login again.</h5>
        {% for guild_row in guilds %}
            <div class="row justify-content-between">
                {% for guild in guild_row %}
                    <div class="col-sm">
                        {% if guild.icon %}
                            <img class="server-icon rounded-circle" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png?size=128" alt="Server Icon" height="128px">
                        {% else %}
                            <img class="server-icon rounded-circle" src="https://cdn.discordapp.com/embed/avatars/1.png" alt="Server Icon" height="128px">
                        {% endif %}

                        <h4 class="text-inner">{{ guild.name }}</h4>
                        <a href="{{ url_for('dashboard.dash_guild', guild_id=guild.id) }}" class="cta btn btn-light">Dashboard</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}