{% extends "base.html" %}

{% block content %}
    <div id="hero">
        <div class="hero-content container d-flex flex-row justify-content-center">
            <div class="hero-text d-flex flex-column justify-content-center">
                <h2 class="text-color">Become The Richest Person Alive</h2>
                <p class="text-color">Compete against 170k+ users to be the richest person on Coinz. With loads of fun commands to keep you and your server entertained.</p>

                <div class="hero-btns flex-row">
                    <a href="{{ url_for('main.invite') }}" class="btn">Add To Your Server</a>
                    <a href="{{ url_for('main.discord') }}" class="btn">Ask For Support</a>
                </div>
            </div>
            <div class="hero-img">
                <img src="{{ url_for('static', filename='img/hero-img.png') }}" alt="">
            </div>
        </div>
    </div>

    <div id="vote" class="dark-bg">
        <div class="container text-center d-flex flex-column justify-content-center">
            <h3>Help Coinz by Voting Daily</h3>
            <p>Get awesome rewards when voting for Coinz. Check the rewards using <code>/vote</code> in Coinz.</p>

            <div class="d-flex flex-row justify-content-center">
                <a class="btn" href="https://top.gg/bot/938771676433362955/vote">Vote on Top.gg</a>
                <a class="btn" href="https://discordbotlist.com/bots/coinz/upvote">Vote on Discordbotlist</a>
            </div>
        </div>
    </div>

    <div id="features" class="container">
        <div class="feature-row d-flex justify-content-between">
            <div class="feature-img">
                <img src="{{ url_for('static', filename='img/investing.png') }}" alt="Feature: Stocks and Crypto">
            </div>
            <div class="feature-text my-auto">
                <h3>Buy, hold and sell stocks</h3>
                <p>Enhance your knowledge of the stock and crypto market by buying, holding and selling stocks and crypto within Coinz. All prices are updated every 5 minutes. Coinz currently has 20 stocks and more than 15 crypto currencies. With more soon to come.</p>
            </div>
        </div>

        <div class="feature-row d-flex justify-content-between">
            <div class="feature-img">
                <img src="{{ url_for('static', filename='img/company.png') }}" alt="Feature: Own a Company">
            </div>
            <div class="feature-text my-auto">
                <h3>Start your own company</h3>
                <p>Create your own company, buy factories and produce items that you can sell for a big profit. Repeat this step over and over and become richer than Elon Musk! Did I mention that you can employ real users?!</p>
            </div>
        </div>

        <div class="feature-row d-flex justify-content-between">
            <div class="feature-img">
                <img src="{{ url_for('static', filename='img/games.png') }}" alt="Feature: Play some Minigames">
            </div>
            <div class="feature-text my-auto">
                <h3>Play more than 15 games</h3>
                <p>Play all sorts of minigames inside of discord! You will never get bored when playing these minigames. We release at least 1 new minigame every update. Some examples are: Blackjack, Poker, Roulette, Crash, ...</p>
            </div>
        </div>

        <div class="feature-row d-flex justify-content-between">
            <div class="feature-img">
                <img src="{{ url_for('static', filename='img/farming.png') }}" alt="Feature: Become a farmer">
            </div>
            <div class="feature-text my-auto">
                <h3>Become a farmer</h3>
                <p>Buy farmland to grow crops on and live a peaceful live. Buy up to 15 plots to grow crops on! Each crop has different stats that can make you rich or lose you money. Don't forget to water your crops once in a while!</p>
            </div>
        </div>
    </div>
{% endblock %}